<app-headers></app-headers>

<main>
  <ul id = 'users'>
    <!-- @for (user of users ; track user.id) {
      <li>
        <app-user [user] = 'user' (select)="Onselectuser($event)"></app-user>
      </li>

    } -->

    <li *ngFor="let user of users">
      <app-user [user] = 'user' (select) = 'Onselectuser($event)'></app-user>
    </li>


  </ul>
  <!-- @if (selecteduser) {

    <app-tasks [name] = 'selecteduser ? selecteduser.name : ""' ></app-tasks>

  }

  @else {
    <p id = "fallback" > select the user to see their tasks</p>
  } -->

  <app-tasks *ngIf="selecteduser ; else fallback" [name] = 'selecteduser.name' [userid]="selecteduser.id"></app-tasks>


  <ng-template #fallback>
    <p id = 'any'> click on user to see their task </p>
  </ng-template>


</main>


